<div class="modal fade" id="addLanguageModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ addNewlanguageTranslateObject.addNewLanguageLabel }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #addLanguageForm="ngForm" (ngSubmit)="check(addLanguageForm)">
            <div class="modal-body">
                <!-- Language Name -->
                <div class="form-group">
                    <label for="" class="language">{{addNewlanguageTranslateObject.languageNameLabel}}</label>
                    <select name="language_name" id="language_name" #language_name=ngModel  [(ngModel)]="this.language.languageName" required  class="form-control form-control-sm" ngModel>
                        <option value="" selected disabled>Choose ...</option>
                        <option [ngValue]="language" *ngFor="let language of this.languages; let i = index">{{ language.name }}</option>
                    </select>
                </div>
                
                
                <!-- Writing Level -->
                <div class="form-group">
                    <label for="" class="language">{{addNewlanguageTranslateObject.writingLabel}}</label>
                    <select name="writing_level" id="writing_level" #writing_level=ngModel [(ngModel)]="this.language.writingLevel" required class="form-control form-control-sm" ngModel>
                        <option value="" selected disabled>{{addNewlanguageTranslateObject.chooseLabel}}</option>
                        <option [ngValue]="criteria" *ngFor="let criteria of this.criterias; let i = index">{{ criteria }}</option>
                    </select>
                </div>
                <!-- Reading Level -->
                <div class="form-group">
                    <label for="" class="language">{{addNewlanguageTranslateObject.readingLabel}}</label>
                    <select name="reading_level" id="reading_level" #reading_level=ngModel class="form-control form-control-sm" [(ngModel)]="this.language.readingLevel" required ngModel>
                        <option value="" selected disabled>{{addNewlanguageTranslateObject.chooseLabel}}</option>
                        <option *ngFor="let criteria of this.criterias; let i = index" value="{{ criteria }}">{{ criteria }}</option>
                    </select>
                </div>
                <!-- Understanding Level -->
                <div class="form-group">
                    <label for="" class="language">{{addNewlanguageTranslateObject.understandingLabel}}</label>
                    <select name="understanding_level" id="understanding_level" #understanding_level=ngModel [(ngModel)]="this.language.understandingLevel" required class="form-control form-control-sm" ngModel>
                        <option value="" selected disabled>{{addNewlanguageTranslateObject.chooseLabel}}</option>
                        <option *ngFor="let criteria of this.criterias; let i = index" value="{{ criteria }}">{{ criteria }}</option>
                    </select>
                </div>          
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!addLanguageForm.valid">{{addNewlanguageTranslateObject.understoodLabel}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModalAddLanguage">{{addNewlanguageTranslateObject.closeLabel}}</button>
            </div>
        </form>
      </div>
    </div>
  </div>