
<div class="modal fade" id="updateLanguageModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{updatelanguageTranslateObject.updateLanguageLabel}} {{ this.curlanguage.languageName }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #updLanguageForm="ngForm" (ngSubmit)="check(updLanguageForm)">
            <input type="hidden" name="Key" #primaryKey=ngModel value="this.curlanguage.primaryKey" ngModel>
            <div class="modal-body">
                <div class="form-group">
                    <label for="" class="language">{{updatelanguageTranslateObject.languageNameLabel}}</label>
                    <select disabled name="language_name" id="language_name" #language_name=ngModel [(ngModel)]="this.curlanguage.languageName" required  class="form-control form-control-sm" ngModel>
                        <option selected>{{ this.curlanguage.languageName }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="language">{{updatelanguageTranslateObject.writingLabel}}</label>
                    <select name="writing_level" id="writing_level" #writing_level=ngModel [(ngModel)]="this.curlanguage.writingLevel" required class="form-control form-control-sm" ngModel>
                        <option disabled>{{updatelanguageTranslateObject.chooseLabel}}</option>
                        <option [ngValue]="criteria" *ngFor="let criteria of this.criterias; let i = index"
                        [selected]="this.curlanguage.writingLevel === criteria">{{ criteria }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="language">{{updatelanguageTranslateObject.readingLabel}}</label>
                    <select name="reading_level" id="reading_level" #reading_level=ngModel class="form-control form-control-sm" [(ngModel)]="this.curlanguage.readingLevel" required ngModel>
                        <option disabled>{{updatelanguageTranslateObject.chooseLabel}}</option>
                        <option *ngFor="let criteria of this.criterias; let i = index"
                        value="{{ criteria }}"
                        [selected]="this.curlanguage.readingLevel === criteria">{{ criteria }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="language">{{updatelanguageTranslateObject.understandingLabel}}</label>
                    <select name="understanding_level" id="understanding_level" #understanding_level=ngModel [(ngModel)]="this.curlanguage.understandingLevel" required class="form-control form-control-sm" ngModel>
                        <option disabled>{{updatelanguageTranslateObject.chooseLabel}}</option>
                        <option *ngFor="let criteria of this.criterias; let i = index" value="{{ criteria }}"
                        [selected]="this.curlanguage.understandingLevel === criteria">{{ criteria }}</option>
                    </select>
                </div>          
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!updLanguageForm.valid">{{updatelanguageTranslateObject.updateLabel}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModalUpdateLanguage">{{updatelanguageTranslateObject.closeLabel}}</button>
            </div>
        </form>
      </div>
    </div>
  </div>